<button (click)="logout()">Logout</button>


<h1>Welcome {{username}}</h1>

<h3> Academic Stats</h3>
<div class="stats">
  @if (stats) {
    <p><a routerLink="/students">Students</a>:  {{ stats.students }} </p>
    <p><a routerLink="/professors">Professors</a>:  {{ stats.professors }} </p>
    <p><a routerLink="/courses">Courses</a>:  {{ stats.courses }} </p>
    <p><a routerLink="/enrollments">Enrollments</a>:  {{ stats.enrollments }} </p>
    <p><a routerLink="/departments">Departments</a>:  {{ stats.departments }} </p>
    <p><a routerLink="/faculties">Faculties</a>:  {{ stats.faculties }} </p>
    <p>Semesters:  {{ stats.semesters }} </p>
  }
</div>
