<button (click)="logout()">Logout</button>


<h1>Welcome {{username}}</h1>

<h3>Academic Stats</h3>
<div class="stats">
  @if (stats) {
    <p>Students:  {{ stats.students }} </p>
    <p>Professors:  {{ stats.professors }} </p>
    <p>Courses:  {{ stats.courses }} </p>
    <p>Enrollments:  {{ stats.enrollments }} </p>
    <p>Departments:  {{ stats.departments }} </p>
    <p>Faculties:  {{ stats.faculties }} </p>
    <p>Semesters:  {{ stats.semesters }} </p>
  }
</div>

<h3>Quick Actions</h3>

<div class="quick-actions">
  <p><a routerLink="/courses/new">New Course</a></p>
  <p><a routerLink="/students/new">New Student</a></p>
  <p><a routerLink="/professors/new">New Professor</a></p>
  <p><a routerLink="/enrollments/new">New Enrollment</a></p>
</div>
