<h1>All Enrollments</h1>
@for (enrollment of enrollments; track enrollment.id) {

  <div class="enrollment-card">
    <p> {{ enrollment.enrollmentStatus }}</p>
    <p> {{ enrollment.semester.term }} {{ enrollment.semester.year }} </p>
    <p> {{ enrollment.course.name }} </p>
    <p> {{ enrollment.student.firstName }} {{ enrollment.student.lastName }} </p>
    <p> {{ enrollment.grade }}</p>
    <p> {{ enrollment.enrollmentDate }}</p>
  </div>

  @if (!$last) {
    <span>---</span>
  }

} @empty {

  <p> No enrollments found! </p>

}
