<div class="page-header">

  <h1>Enrollments</h1>

  <a routerLink="/enrollments/new">
    + Create Enrollment
  </a>

</div>


<div class="search-section">

  <label for="search">
    Search:
  </label>

  <input
    id="search"
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search enrollments..."
  >

</div>


@if (loading) {

  <p>Loading enrollments...</p>

} @else if (errorMessage) {

  <p>{{ errorMessage }}</p>

} @else {

  <table>

    <thead>

    <tr>

      <th>Student</th>
      <th>Course</th>
      <th>Semester</th>
      <th>Status</th>
      <th>Grade</th>
      <th>Date</th>
      <th>Actions</th>

    </tr>

    </thead>

    <tbody>

      @for (
        enrollment of filteredEnrollments;
        track enrollment.id
        ) {

        <tr>

          <td>
            {{ enrollment.student.firstName }}
            {{ enrollment.student.lastName }}
          </td>

          <td>
            {{ enrollment.course.code }}
            -
            {{ enrollment.course.name }}
          </td>

          <td>
            {{ enrollment.semester.term }}
            {{ enrollment.semester.year }}
          </td>

          <td>
            {{ enrollment.enrollmentStatus }}
          </td>

          <td>
            {{ enrollment.grade ||  '-' }}
          </td>

          <td>
            {{ enrollment.enrollmentDate }}
          </td>

          <td>

            <button
              type="button"
              [routerLink]="[
                '/enrollments',
                enrollment.id
              ]"
            >
              View
            </button>

            <button
              type="button"
              (click)="deleteEnrollment(enrollment.id)"
            >
              Delete
            </button>

          </td>

        </tr>

      } @empty {

        <tr>

          <td colspan="7">
            No enrollments found!
          </td>

        </tr>

      }

    </tbody>

  </table>

}
