<div class="page-header">
  <h1>Enrollments</h1>

  <a>
    + Create Enrollment
  </a>
</div>

<div class="search-section">
  <label for="search">
    Search:
  </label>

  <input
    id="search"
    type="text"
    placeholder="Search enrollments..."
  />
</div>

@if (enrollments.length > 0) {

  <table>

    <thead>
    <tr>
      <th>Student</th>
      <th>Course</th>
      <th>Semester</th>
      <th>Status</th>
      <th>Grade</th>
      <th>Enrollment Date</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>

      @for (enrollment of enrollments; track enrollment.id) {

        <tr>

          <td>
            {{ enrollment.student.firstName }}
            {{ enrollment.student.lastName }}
          </td>

          <td>
            {{ enrollment.course.code }}
            -
            {{ enrollment.course.name }}
          </td>

          <td>
            {{ enrollment.semester.term }}
            {{ enrollment.semester.year }}
          </td>

          <td>
            {{ enrollment.enrollmentStatus }}
          </td>

          <td>
            {{ enrollment.grade }}
          </td>

          <td>
            {{ enrollment.enrollmentDate }}
          </td>

          <td>

            <a
              [routerLink]="['/enrollments', enrollment.id]"
            >
              View
            </a>

            <button
              type="button"
              (click)="deleteEnrollment(enrollment.id)"
            >
              Delete
            </button>

          </td>

        </tr>

      }

    </tbody>

  </table>

} @else {

  <p>No enrollments found!</p>

}
