<div class="page student-list">

  <header class="page-header">
    <div>
      <h1>Students</h1>
      <p>Manage students registered in the university.</p>
    </div>

    <a class="btn btn-primary" routerLink="/students/new">
      + New Student
    </a>
  </header>

  @if (loading) {
    <div class="state-card glass">
      <p>Loading students...</p>
    </div>
  }

  @else if (errorMessage) {
    <div class="state-card glass error-state">
      <p>{{ errorMessage }}</p>
    </div>
  }

  @else if (students.length === 0) {
    <div class="state-card glass">
      <h3>No students found</h3>
      <p>Get started by adding your first student.</p>

      <a class="btn btn-primary" routerLink="/students/new">
        + Add Student
      </a>
    </div>
  }

  @else {
    <div class="table-wrapper glass">

      <table class="table">

        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Date of Birth</th>
          <th>Gender</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
          @for (student of students; track student.id) {
            <tr>
              <td>#{{ student.id }}</td>

              <td>
                <div class="student-name">
                  <div class="student-avatar">
                    {{ student.firstName.charAt(0) }}{{ student.lastName.charAt(0) }}
                  </div>

                  <span>{{ student.firstName }} {{ student.lastName }}</span>
                </div>
              </td>

              <td>{{ student.email }}</td>

              <td>{{ student.dateOfBirth }}</td>

              <td>
                <span class="badge">
                  {{ student.gender }}
                </span>
              </td>

              <td>
                <div class="table-actions">

                  <a
                    class="table-action"
                    [routerLink]="['/students', student.id]"
                  >
                    Edit
                  </a>

                  <button
                    type="button"
                    class="table-action danger"
                    (click)="onDeleteStudent(student.id)"
                    disabled
                  >
                    Delete
                  </button>

                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
