<h1>All Students</h1>

@for (student of students; track student.id) {

  <div class="student-card">

    <div>
      <h3>{{ student.firstName }} {{ student.lastName }}</h3>
      <p>{{ student.email }}</p>
    </div>

    <div>
      <p>Enrollments: {{ student.enrollments?.length ?? 0 }}</p>
    </div>

    <div>
      <button [routerLink]="['/students', student.id]">
        View
      </button>

      <button (click)="onDeleteStudent(student.id)">
        Delete
      </button>
    </div>

  </div>

  @if (!$last) {
    <span>---</span>
  }

} @empty {

  <p>No students found!</p>

}
