<div class="page-header">

  <h1>Students</h1>

  <a routerLink="/students/new">
    + Create Student
  </a>

</div>


<div class="search-section">

  <label for="search">
    Search:
  </label>

  <input
    id="search"
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search students..."
  >

</div>


@if (loading) {

  <p>Loading students...</p>

} @else if (errorMessage) {

  <p>{{ errorMessage }}</p>

} @else {

  <table>

    <thead>

    <tr>

      <th>Name</th>
      <th>Email</th>
      <th>Enrollments</th>
      <th>Actions</th>

    </tr>

    </thead>

    <tbody>

      @for (
        student of filteredStudents;
        track student.id
        ) {

        <tr>

          <td>
            {{ student.firstName }}
            {{ student.lastName }}
          </td>

          <td>
            {{ student.email }}
          </td>

          <td>
            {{ student.enrollments.length }}
          </td>

          <td>

            <button
              type="button"
              [routerLink]="[
                '/students',
                student.id
              ]"
            >
              View
            </button>

            <button
              type="button"
              (click)="onDeleteStudent(student.id)"
              disabled
            >
              Delete
            </button>

          </td>

        </tr>

      } @empty {

        <tr>

          <td colspan="4">
            No students found!
          </td>

        </tr>

      }

    </tbody>

  </table>

}
