@if (loading) {

  <p>Loading professor...</p>

} @else if (errorMessage) {

  <p>{{ errorMessage }}</p>

} @else if (professor) {

  <div class="professor-details">
    <div class="page-header">

      <div>
        <h1>
          {{ professor.firstName }}
          {{ professor.lastName }}
        </h1>
      </div>

      <a routerLink="/professors">
        Back to Professors
      </a>

    </div>

    <!-- Professor Information -->
    <section>

      <div class="section-header">
        <h2>Professor Information</h2>

        <button
          type="button">

          Edit Information

        </button>
      </div>

      <div class="professor-info">

        <p>
          <strong>First Name:</strong>
          {{ professor.firstName }}
        </p>

        <p>
          <strong>Last Name:</strong>
          {{ professor.lastName }}
        </p>

        <p>
          <strong>Email:</strong>
          {{ professor.email }}
        </p>

        <p>
          <strong>Gender:</strong>
          {{ professor.gender }}
        </p>

        <p>
          <strong>Date of Birth:</strong>
          {{ professor.dateOfBirth }}
        </p>

      </div>
    </section>

    <!-- Courses -->
    <section>

      <div class="section-header">

        <div>
          <h2>Courses</h2>

          <p>
            Total:
            {{ professor.courses.length }}
          </p>
        </div>

        @if (!managingCourses) {

          <button
            type="button"
            (click)="startManagingCourses()"
          >
            Manage Courses
          </button>

        } @else {

          <button
            type="button"
            [disabled]="courseSaving"
            (click)="stopManagingCourses()"
          >
            Cancel
          </button>

        }

      </div>


      <!-- COURSE MANAGEMENT -->

      @if (managingCourses) {

        <div class="course-management">

          <form [formGroup]="professorForm">

            <h3>Manage Courses</h3>

            <p>
              Select the courses that should be assigned
              to this professor.
            </p>


            @for (course of courses; track course.id) {

              <div>

                <input
                  type="checkbox"
                  [id]="'course-' + course.id"
                  [checked]="isCourseSelected(course.id)"
                  (change)="toggleCourse(course.id, $event)"
                />

                <label [for]="'course-' + course.id">

                  {{ course.code }} -
                  {{ course.name }}

                </label>

              </div>

            }


            @if (
              professorForm.get('courseIds')?.value?.length > 0
              ) {

              <p>

                Selected:
                {{ professorForm.get('courseIds')?.value?.length }}
                course(s)

              </p>

            } @else {

              <p>
                No courses selected.
              </p>

            }


            <button
              type="button"
              [disabled]="
            courseSaving ||
            !hasCourseChanges()
          "
              (click)="saveCourseChanges()"
            >

              @if (courseSaving) {

                Saving...

              } @else {

                Save Changes

              }

            </button>

          </form>


          @if (courseErrorMessage) {

            <p>
              {{ courseErrorMessage }}
            </p>

          }

        </div>

        <hr>

      }


      <!-- ASSIGNED COURSES -->

      @if (professor.courses.length > 0) {

        <table>

          <thead>

          <tr>

            <th>Code</th>
            <th>Course</th>
            <th>Credits</th>

          </tr>

          </thead>

          <tbody>

            @for (
              professorCourses of professor.courses;
              track professorCourses.id
              ) {

              @if (professorCourses.course) {

                <tr>

                  <td>
                    {{ professorCourses.course.code }}
                  </td>

                  <td>
                    {{ professorCourses.course.name }}
                  </td>

                  <td>
                    {{ professorCourses.course.credits }}
                  </td>

                </tr>

              }

            }

          </tbody>

        </table>

      } @else {

        <p>
          This professor is not assigned
          to any courses.
        </p>

      }

    </section>
  </div>
}
