<div class="page-header">

  <h1>Professors</h1>

  <a routerLink="/professors/new">
    + Create Professor
  </a>

</div>

<div class="search-section">

  <label for="search">
    Search:
  </label>

  <input
    id="search"
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search professors..."
  >

</div>

<table>

  <thead>

  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Courses</th>
    <th>Actions</th>
  </tr>

  </thead>

  <tbody>

    @for (professor of filteredProfessors; track professor.id) {

      <tr>

        <td>
          {{ professor.firstName }}
          {{ professor.lastName }}
        </td>

        <td>
          {{ professor.email }}
        </td>

        <td>
          {{ professor.courses.length }}
        </td>

        <td>

          <button
            type="button"
            [routerLink]="[
              '/professors',
              professor.id
            ]"
          >
            View
          </button>

          <button
            type="button"
            disabled="disabled"
          >
            Delete
          </button>

        </td>

      </tr>

    } @empty {

      <tr>

        <td colspan="4">
          No professors found!
        </td>

      </tr>

    }

  </tbody>
</table>
