<h1>All Professors</h1>

@for (professor of professors; track professor.id) {

  <div class="professor-card">

    <div>
      <h3>{{ professor.firstName }} {{ professor.lastName }}</h3>
      <p>{{ professor.email }}</p>
    </div>

    <div>
      <p>
        Courses: {{ professor.courses?.length ?? 0 }}
      </p>
    </div>

    <div>
      <button [routerLink]="['/professors', professor.id]">
        View
      </button>

      <button (click)="onDeleteProfessor(professor.id)">
        Delete
      </button>
    </div>

  </div>

  @if (!$last) {
    <hr>
  }

} @empty {

  <p>No professors found!</p>

}
